/* .active {
  text-decoration: underline;
} */

/* Add this to your CSS file */
.active::after {
  content: "";
  display: block;
  width: 0, 100%;
  height: 2px;
  background: orange;
  transition: width 0.3s;
}

.active:hover::after {
  width: 100%;
  /* For ease-in-out animation */
  transition: width 0.3s ease-in-out;
}
